<%- include('./partials/header') %>
<section id="insight-video-section" class="py-4">
  <div class="container">
    <h3 class="align-left mb-5">Industry Insights</h3>
    <div class="row g-10 justify-content-center align-items-center">
      <div
        class="col-sm-4 col-md-6 col-lg-4"
        data-example-id="responsive-embed-16by9-iframe-youtube"
      >
        <div>
          <iframe
            src="https://www.youtube.com/embed/Znsa4Deavgg?si=TuS_9YcjI-7mQ1k4"
            title="YouTube video player"
            class="embedded-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-sm-4 col-md-6 col-lg-3">
        <p class="fs-4 fw-medium mb-1">Video Title</p>
        <p class="fs-6 pb-4 mb-0">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique,
          eligendi necessitatibus autem, repudiandae delectus quidem sequi in
          odio modi eaque doloribus porro vel temporibus nemo iure ad, repellat
          soluta architecto.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  id="insight-cards-section"
  class="border-top border-2 border-dark-subtle overflow-x-hidden p-4"
>
  <div class="container">
    <div class="row text-center g-4">
      <% articles.forEach((article) => { %>
        <div class="col-sm-1 col-md-6 col-lg-4 col-xl-3">
          <div
            class="card card-block bg-light h-100 text-center shadow-sm mb-5 rounded"
          >
            <img class="card-image-top" src="/image/<%= article.image %>" />
            <div class="card-body align-items-center justify-content-center">
              <p class="card-title fs-5"><%= article.title %></p>
              <p class="card-text"><%= article.description %></p>
            </div>
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
            <% if (!article.url) { %>
              <a
                target="_blank"
                href="/pdf/<%= article.file %>"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
            <% } else { %>
              <a
                target="_blank"
                href="<%= article.url %>"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
              <% } %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</section>
<section
  id="insight-video-section"
  class="border-top border-2 border-dark-subtle overflow-x-hidden py-4"
>
  <div class="container">
    <div class="row g-10 justify-content-center align-items-center">
      <div
        class="col-sm-4 col-md-6 col-lg-4"
        data-example-id="responsive-embed-16by9-iframe-youtube"
      >
        <div>
          <iframe
            src="https://www.youtube.com/embed/Znsa4Deavgg?si=TuS_9YcjI-7mQ1k4"
            title="YouTube video player"
            class="embedded-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-sm-4 col-md-6 col-lg-3">
        <p class="fs-4 fw-medium mb-1">Video Title</p>
        <p class="fs-6 mb-0">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique,
          eligendi necessitatibus autem, repudiandae delectus quidem sequi in
          odio modi eaque doloribus porro vel temporibus nemo iure ad, repellat
          soluta architecto.
        </p>
      </div>
    </div>
  </div>
</section>
<%- include('./links') %>
</main>
<%- include('./partials/footer') %>
