<section class="border-top border-2 border-dark-subtle overflow-x-hidden">
  <div class="container">
    <p class="text-left fs-3 fw-medium pt-3">External Resources</p>
    <div class="row g-5 pb-5" id="card-links">
      <% for (let index in links) { let link = links[index]; %>
      <div class="col-sm-1 col-md-4 col-lg-3">
        <div
          id="<%= link.id %>-<%= link.name %>"
          class="card card-block bg-light h-100 text-center shadow mb-5 rounded"
        >
          <div class="card-body align-items-center justify-content-center">
            <img class="card-image mb-3" src="<%= link.imgUrl %>" />
            <p class="card-title fs-5"><%= link.name %></p>
          </div>
          <div class="card-footer d-flex justify-content-center align-items-center">
            <a
              target="_blank"
              href="<%= link.linkUrl %>"
              class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
            >
              Click here
            </a>
          </div>
        </div>
      </div>
      <% }; %>
    </div>
  </div>
</section>
